* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #777;
}

.header {
    height: 4rem;
    background-color: #fff;
}

.header-left {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.header-left-title {
    margin-left: 2rem;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'Sixtyfour', sans-serif;
    text-decoration: underline;
}

.title-extra {
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'Sixtyfour', sans-serif;
}

.header-left-apps {
    width: 100%;
    margin-left: 1rem;
    display: flex;
    justify-content: left;
    font-family: 'Sixtyfour', sans-serif;
}

.header-left-app {
    border: 2px solid black;
    margin: 0 2rem;
    padding: 0.5rem;
    background-color: #ccc;
    transition: 200ms ease-in-out;
    cursor: pointer;
    white-space: nowrap;
}

.header-left-app:hover {
    background-color: #333;
    color: #ccc
}

.main-div {
    height: 80dvh;
    width: 100%;
    background-color: #444;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo {
    width: 50%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #999;
    border-radius: 0.5rem;
    z-index: 0;
    padding: 1rem 2rem;
}

.todo-head {
    display: flex;
    align-items: center;
    padding: 0 0.25rem;
    justify-content: space-between;
    border-bottom: 2px black solid;
}

.todo-head-title {
    font-family: 'Sixtyfour', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.todo-head-remain {
    font-family: sans-serif;
    margin-bottom: 0.75rem;
    color: #444;
    padding-left: 2rem;
}

.todo-body {
    height: 100%;
    padding-top: 1rem;
    overflow-y: scroll;
    scrollbar-width: auto;
    scrollbar-color: black gray;
}

.todo-entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 91%;
    margin-bottom: 0.5rem;
    border: 2px solid black;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    background-color: #ccc;
    font-family: 'Roboto', sans-serif;
}

.todo-images {
    height: 100%;
    display: flex;
    align-items: center;
}

.todo-entry img {
    width: 1.5rem;
    height: 1.5rem;
    border: 4px solid #888;
    cursor: pointer;
    transition: transform 200ms;
}

.todo-entry-complete {
    color: #777;
    text-decoration: line-through;
}

.todo-entry img:hover {
    transform: scale(1.1);
}

.check {
    background-color: #006600;
    border-radius: 8px;
    padding: 2px;
}

.trash {
    background-color: #660000;
    border-radius: 8px;
    padding: 2px;
    margin-left: 0.25rem;
}

.todo-new-entry {
    padding-bottom: 0.5rem;
    width: 100%;
    display: flex;
}

.todo-input {
    height: 2rem;
    width: 90%;
    border-radius: 10px;
    border: 3px solid black;
    padding: 0 1rem;
    transition: 250ms ease-in-out;
    margin-right: 0.5rem;
}

.todo-input:focus, .todo-add:focus, .todo-input:hover, .todo-add:hover{
    outline: 2px solid white;
    box-shadow: 8px 5px 13px #222;
}

.todo-add {
    width: 2.5rem;
    height: 2.4rem;
    border-radius: 10px;
    border: 3px solid black;
    background-color: #99dddd;
    font-size: 1rem;
    font-weight: bold;
    transition: 300ms ease-in-out;
    cursor: pointer;
}

.todo-add:active {
    background-color: #33cc33;
    transition: none
}
